@import './variables';

.layoutWrapper {
  .sideWrapper {
    margin-right: .5rem;
    ul {
      li {
        &:first-child {
          max-height: 440px;
          overflow: auto;
        }
      }
    }
  }

  .contentWrapper {
    margin-left: .5rem;
    .videoDescription {
      margin-top: .5rem;
    }
    .videoPlayerWrapper {
      height: 100%;
      video {
        height: 100%;
      }
    }

    .buttonWrapper {
      width: 100%;
      margin: .5rem 0;
      @include flexBox(center, space-between, row, wrap);
      .nextWrapper {
        button {
          @include flexBox(center, space-between, row-reverse, wrap);
          span {
            margin-inline-start: 0 !important;
            margin-inline-end: 8px;
          }
        }
      }
    }

    .playerHeader {
      line-height: 1.5rem;
      @include flexBox(center, space-between, row, wrap);

      .playerHeaderBlock {
        display: inline-block;
        width: .75rem;
        height: 1.5rem;
        background-color: $salmon;
        border-radius: $borderRadius;
        margin-right: 1rem;
      }

      .playerInformation {
        @include flexBox(center, space-between, row, wrap);
        line-height: 1.5rem;
        .mobileButton {
          display: none;
        }

        .playerParticipants {
          width: 180px;
          @include flexBox(center, space-around, row, wrap);
          .participant {
            background-color: $skyBlue;
            color: $deepBlue;
            border-radius: $halfBorderRadius;
            padding: .15rem;
          }
        }
        button {
          margin-left: .5rem;
        }
      }
    }
    .videoPlayerWrapper {
      height: 500px;
      border-radius: $borderRadius;
      margin-top: 1rem;
      video {
        border-radius: $borderRadius;
        height: 100%;
        background-color: #000;
      }
    }
  }
}

.sideWrapper, .contentWrapper {
  padding: 1rem 2rem;
  background: $white !important;
  border-radius: $borderRadius;
}

@media only screen and (max-width: 750px) {
  .playerInformation {
    .mobileButton {
      display: inline-block !important;
    }
    .webButton {
      display: none;
    }
  }
  .sideWrapper, .contentWrapper {
    padding: 1rem !important;
  }
  .contentWrapper {
    .videoPlayerWrapper {
      height: 350px !important;
    }
  }
  .sideWrapper {
    ul {
      li {
        &:first-child {
          max-height: 400px !important;
        }
      }
    }
  }
  .buttonWrapper {
    div {
      width: 100%;
      &:nth-of-type(2) {
        margin-top: .5rem
      }
      button {
        width: 100%;
      }
    }
    .nextWrapper {
      button {
        justify-content: center !important;
      }
    }
  }
}

.txtWrapper {
  .txtCol {
    margin: 1rem auto 0 auto;
    h1, p {
      text-align: center;
    }
    h1 {
      margin-bottom: 1rem;
    }
  }
}

.txtFormWrapper {
  margin: 0 auto 1rem auto;
}

@media (min-width: 600px) {
  .sideWrapper {
    .searchWrapper {
      display: none;
    }
  }
}

@media (max-width: 600px) {
  .ant-layout-sider-collapsed {
    .searchWrapper {
      display: none;
    }
  }
}