@import './variables';

.reusableFormWrapper {
  border-radius: $borderRadius;
}

.discordInfo {
  background: #1777ff;
  color: #fff;
  padding: 4px;
  border-radius: 4px;
  position: absolute;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  width: 32px;
  cursor: pointer;
  transition: .25s all ease;
  &:hover {
    background: #0669f4;
  }
}

.formWrapper {
  height: calc(100vh - 1rem);
  border-radius: $borderRadius;
  @include flexBox(center, center, column, wrap);
  .form {
    padding: 2rem;
    border-radius: $borderRadius;
    background-color: #fff;
    width: 350px;
    @include flexBox(center, center, column, wrap);
    div, input {
      width: 100% !important;
    }
    img {
      height: auto;
      width: 100px;
      margin-bottom: 1rem;
    }
    input {
      width: 100%;
    }
    .actionWrapper {
      margin-top: 1rem;
      width: 100%;
      @include flexBox(center, space-between, row, wrap);
    }
  }
}