@import './variables';

.tableActions {
  @include flexBox(center, space-between, row, wrap);
  width: 100px;
  .deleteButton {
    cursor: pointer;
    background-color: $softRed;
    color: $deepRed;
    padding: .35rem;
    border-radius: $fullRadius;
    transition: .25s;
    &:hover {
      background-color: $midRed;
    }
  }
  .disabledButton {
    background-color: $softGray;
    color: $deepGray;
    padding: .35rem;
    border-radius: $fullRadius;
    transition: .25s;
  }
  .approveButton {
    cursor: pointer;
    background-color: $softGreen;
    color: $deepGreen;
    padding: .35rem;
    border-radius: $fullRadius;
    transition: .25s;
    &:hover {
      background-color: $midGreen;
    }
  }
  .editButton {
    cursor: pointer;
    background-color: $softYellow;
    color: $deepYellow;
    padding: .35rem;
    border-radius: $fullRadius;
    transition: .25s;
    &:hover {
      background-color: $midYellow;
    }
  }
}